* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: left;
}
div.party {
  margin: 10px;
  padding: 10px;
}
